[user]
    name = Johan Cwiklinski
    email = johan@x-tnd.be
    signkey = johan@x-tnd.be
[core]
    editor = vim
    autocrlf = input
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    co = checkout
    st = status
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[merge]
    tool = meld
[push]
    default = tracking
